/*
 * for Admin
 * 限制最少
*/

.uk-nav-divider,
#wp-admin-bar-archive,
#wp-admin-bar-root-default #wp-admin-bar-view,
span.gutenberg,
/*發布區塊的清除快取*/
#misc-publishing-actions > div.misc-pub-section:nth-child(6),
/*訂單*/
#posts-filter > div.tablenav.bottom > div.woocommerce-BlankState > div > a.woocommerce-BlankState-cta.button-primary.button{
    display: none !important;
}

/*極簡模式*/
.jdaio_simple_mode_btn{
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 999;
}
.jdaio_simple_mode_form{
    display: inline-block;
    margin-left: 15px;
}
.upload > img{
    background-image: url('../img/transparent.jpg');
}



/*用戶圖片*/
img.avatar{
  border-radius:100% !important;
}
/*DASHBOARD跑版*/
#woocommerce_dashboard_status .wc_status_list li,
.select2-container{
    height: unset !important;
}
.php-error #adminmenuback, .php-error #adminmenuwrap{
	margin-top:0px !important;
}
body.wp-admin{
    overflow-x: hidden;
    overflow-y: auto;
}
/*滾動條*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #e1e1e1;
}
::selection {
    background-color: #bbd6fb;
    color: #fff;
}
.plugin-card .desc.column-description p:first-child{
    height: 100px;
    overflow: auto;
}
.plugin-card .name h3{
    height: 70px;
    overflow: hidden;
}
.column-compatibility span,
.plugin-card .desc.column-description p.authors{
    white-space: nowrap;
}

/*woocommerce_page_wc-order-export調整*/
#export_job_settings{
    padding-left: 30px;
}
.wc-wp-version-gte-53 .select2-container .select2-selection--single .select2-selection__rendered{
    line-height: 28px !important;
}

/*後台選單換ICON*/
#adminmenu #toplevel_page_wc-admin-path--analytics-overview div.wp-menu-image:before {
    content: "\f238";
  }
  #adminmenu #menu-posts-product div.wp-menu-image:before {
    content: "\f312";
  }
  #adminmenu #menu-posts div.wp-menu-image:before {
    content: "\f327";
  }
  #adminmenu .dashicons-admin-page:before{
      content: "\f121";
  }

.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before{
    content: "\f319";
}
.admin2020_menu .uk-icon-button{
    background-color: transparent !important;
}

.a2020-admin-bar.a2020_night_mode {
    background: #111 !important;
}
.a2020_night_mode #wpadminbar #wp-admin-bar-cache > div.ab-item{
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(56, 56, 56, 0.36) !important;
}
.a2020_night_mode #wpadminbar #wp-admin-bar-cache:hover{
    color: rgba(255, 255, 255, 0.7);
}
.a2020_night_mode #wpadminbar #wp-admin-bar-root-default li .ab-item,
.a2020_night_mode #wpadminbar #wp-admin-bar-top-secondary li .ab-item{
    color: rgba(255, 255, 255, 0.5) !important;
}
.a2020_night_mode #wpadminbar #wp-admin-bar-root-default li .ab-item:hover,
.a2020_night_mode #wpadminbar #wp-admin-bar-top-secondary li .ab-item:hover{
    color: rgba(255, 255, 255, 0.7) !important;
}

/*文章編輯*/
#wpbody-content > div.wrap > a.page-title-action:nth-child(2){
    margin-left: 10px;
}
#product_tag > div > div.ajaxtag.hide-if-no-js > input.button.tagadd{
    margin-top: 5px;
    width: 100%;
}
#new-tag-product_tag{
    width: 100%;
}

/*修改google site kit LOGO顏色*/
.toplevel_page_googlesitekit-dashboard span.uk-icon-image{
    background-color: #777 !important;
    border-radius: 100%;
}


/*all in one migration*/
.admin2020_menu .wp-menu-open.toplevel_page_ai1wm_export,.admin2020_menu .wp-menu-open.toplevel_page_ai1wm_export > a{
    background-color: unset !important;
}

/*調整快取選單位置*/
#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper{
    right: auto;
    left: 0;
    top: calc( 100% + 15px );
}
/* tool bar cache icon*/
#wpadminbar #wp-admin-bar-cache > div.ab-item{
    /*min-height: unset;
    background-color: #f8f8f8 !important;*/
    border-radius: 5px;
    cursor: pointer;
}



.wp-menu-open.toplevel_page_ai1wm_export, .wp-menu-open.toplevel_page_ai1wm_export > a{
    background-color: unset !important;
}

/*新增文章*/


/*Loco translate*/
#loco-actions fieldset{
    margin-top: 0px !important;
}
#loco-admin.wrap #loco-editor>nav button.only-icon{
    width: unset !important;
}


/*woocommerce-advanced-shipment-tracking*/
table.wp-list-table img.provider-thumb{
    height: unset;
}


/*setting api*/
div.upload > div{
    display: inline-block;
    min-width: 300px;
    margin-top: 5px;
}
div.metabox-holder > form > h2{
    display: none;
}
form[action="options.php"] .button.button-primary{
    margin-left: -10px !important;
}
